extends layout

block content
        .container

            .py-5
                 h1 Register
                 p.lead Create your account!

            if(errors)
                ul.list-group
                    each err in errors
                        li.list-group-item.text-danger= err

            form(name='register' method='post' action='/register')
                .form-group
                    label First Name
                    if data
                        input.form-control(type='text' placeholder='Name' value=data.firstName  name='firstName')
                    else
                        input.form-control(type='text' placeholder='Name' name='firstName')
                .form-group
                    label Last Name
                    if data
                        input.form-control(type='text'  placeholder='Name' value=data.lastName name='lastName')
                    else
                        input.form-control(type='text'  placeholder='Name' name='lastName')
                .row
                    .col-md-4
                        .form-group
                            label Username
                            if data
                                    input.form-control(type='text'  pattern="[A-Za-z0-9]{1,15}" placeholder='Name' value=data.username name='username')
                            else               
                                    input.form-control(type='text'  pattern="[A-Za-z0-9]{1,15}" placeholder='Name' name='username')
                    .col-md-4
                        </br>
                        ul(style='color: grey;')
                            li Letters and numbers only;
                            li No  punctuation or special characters;
                            li Maximun 15 characters.
                .form-group
                    label Email
                    if data
                        input.form-control(type='email' placeholder='Email' value=data.email name='email')
                    else
                        input.form-control(type='email' placeholder='Email' name='email')
                .row
                    .col-md-4                
                        .form-group
                            label Password
                            input.form-control(type='password' placeholder='Password' maxlength='12' name='password')
                    .col-md-4
                        </br>
                        ul(style='color: grey;')
                            li The password must contain at least 8 characters.
                .row
                    .col-md-4
                        .form-group
                            label Confirm Password
                            input.form-control(type='password' placeholder='Confirm Password' maxlength='12' name='confirmpassword')

                input(class='btn btn-success' type='submit' value='Register Now')