extends layout

block content

    div.area
        h1 Retrospective | #{retro.name}
            input(type='hidden' name='user' value='#{user._id}')
            input(type='hidden' name='retroID' value='#{retro._id}')
            input(type='hidden' name='retroTemplateNumber' value='#{retro.retroTemplate.number}')
        .input-group.mb-3

        if retro.facilitator == user._id
            if retro.status != 'NEW'
                a.btn.btn-success.previousstep(href='#' ) Previous
            if retro.status != 'REVIEW'
                a.btn.btn-success.nextstep(href='#' ) Next
            else
                a.btn.btn-success.completeRetro(href='#') Complete
    
        if retro.status == 'INPROGRESS'
            form.form-inline#chat
                .form-group.mb-2
                    select#inputCategory.form-control
                        each i in retro.retroTemplate.categories
                            option(value='#{i.id}')=i.name
                .form-group.mx-sm-3.mb-2
                    label.sr-only(for='inputPassword2') Password
                    input#inputPassword2.form-control(type='text' name='message')
                button.btn.btn-primary.mb-2(type='submit') Add
        .row
            .col-md-10
                if(retro.status == 'NEW')
                    h1 Open Action Items
                    table.table
                        thead
                            tr
                                th(scope='col') Action Item
                                th(scope='col') Owner
                                th(scole='col') Retro
                                th(scole='col') Status
                                th(scope='col') 
                        tbody
                            each i in team.actionitems
                                if(i.status == "OPEN")
                                    tr
                                        th #{i.text}
                                        th #{i.owner.username}
                                        th #{i.retrospective.name}
                                        th
                                            if i.status == 'OPEN'
                                                span.material-icons(style='color: orange' title="Open") 
                                                 | flag
                                            if i.status == 'DONE'
                                                span.material-icons(style='color: green' title="Done") 
                                                 | done 
                                            if i.status == 'CANCELLED'
                                                span.material-icons(style='color: red' title="Cancelled") 
                                                 | close 
                                        th    
                                            .btn-group(role='group')
                                                button.material-icons(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                                    | more_horiz
                                                .dropdown-menu(aria-labelledby='btnGroupDrop1')
                                                    if i.status == 'OPEN'
                                                        a.dropdown-item#completeAction(href='#' action-id = i._id) Complete
                                                        a.dropdown-item#cancelAction(href='#' action-id = i._id) Cancel
                                                    else
                                                        a.dropdown-item#openAction(href='#' action-id = i._id) Open
                if(retro.status == 'INPROGRESS')
                    div#includedContent
                if(retro.status == 'REVIEW')
                    h3 Review
                        form(id='actionitem')
                            .row
                                .col-md-3
                                    label Action Item
                                    input.form-control(type='text' placeholder='Action Item' name='actionitem')
                                .col-md-3
                                    label Owner
                                    select.form-control(name='selectMember')
                                        each m in team.members
                                            option(value='#{m._id}')=m.username
                                .col-md-3
                                    </br>
                                    input(class='btn btn-success' type='submit' value='Add')
                        </br>
                    table.table
                        thead
                            tr
                                th(scope='col') Action Item
                                th(scope='col') Owner
                                th(scole='col') Retro
                                th(scole='col') Status
                                th(scole='col') 
                        tbody(id='actionitems')
                            each ai in team.actionitems
                                if(ai.status == "OPEN")
                                    tr
                                        th #{ai.text}
                                        th #{ai.owner.username}
                                        th #{ai.retrospective.name}
                                        th 
                                            if ai.status == 'OPEN'
                                                span.material-icons(style='color: orange' title="Open") 
                                                 | flag
                                            if ai.status == 'DONE'
                                                span.material-icons(style='color: green' title="Done") 
                                                 | done 
                                            if ai.status == 'CANCELLED'
                                                span.material-icons(style='color: red' title="Cancelled") 
                                                 | close 
                                        th    
                                            .btn-group(role='group')
                                                button.material-icons(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                                    | more_horiz
                                                .dropdown-menu(aria-labelledby='btnGroupDrop1')
                                                    if ai.status == 'OPEN'
                                                        a.dropdown-item#completeAction(href='#' action-id = ai._id) Complete
                                                        a.dropdown-item#cancelAction(href='#' action-id = ai._id) Cancel
                                                    else
                                                        a.dropdown-item#openAction(href='#' action-id = ai._id) Open
            .col-md-2
                div#participants
                    h2 Participants
                    div
                        each m in team.members
                            .user(id="#{m._id}")
                                .dropdown
                                    img.avatar(src='#{m.image}')
                                    if retro.facilitator.equals(user._id) && !retro.facilitator.equals(m._id)
                                        .dropdown-content
                                                a.dropdown-item(href=href='/user/details/#{m._id}') Profile
                                                a.dropdown-item.changeFacilitator(href=href='#' user-id='#{m._id}') Make Facilitator
                                    if !retro.facilitator.equals(user._id)
                                        .dropdown-content
                                                a.dropdown-item(href=href='/user/details/#{m._id}') Profile
                                    if retro.facilitator.equals(user._id) && retro.facilitator.equals(m._id)
                                        .dropdown-content
                                                a.dropdown-item(href=href='/user/details/#{m._id}') Profile
                                if retro.facilitator.equals(m._id)
                                    .leader
                                        span.material-icons.leader-icon(style='align: center' title='Facilitator')
                                            | brightness_low
                                //a.avatar(style='background-image: url(#{m.image});' href='/user/details/#{m._id}')
                                .infosPlayer
                                    span.nick=m.username
                                    span.inputQnt 0
                                    i  inputs                                


    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js')
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    script(type='text/javascript' src='/javascripts/retro.js')