extends layout

block content

    div.area
        h1 Team | #{team.name}
        input(type='hidden' name='userEmails' value='#{userEmails}')
        div
            .row
                .col-md-3
                    img(src='#{team.image}' alt='image' style='width:300px;height:200px;' class="rounded")
                    form(name='update' method='post' action='/teams/edit/#{team.id}' encType = 'multipart/form-data')
                        .form-group
                            label Name
                            if team.leader.filter(l => l._id == user._id).length > 0
                                input.form-control(type='text' value='#{team.name}' name='name')
                            else
                                input.form-control(type='text'  readonly='' value='#{team.name}' name='name')
                        .form-group
                            label Description
                            if team.leader.filter(l => l._id == user._id).length > 0
                                textarea.form-control(maxlength='125' name='description') #{team.description}
                            else
                                textarea.form-control(maxlength='125' readonly='' name='description') #{team.description}
                        .form-group
                            label Created By
                            input.form-control(type='text' readonly='' value='#{team.createdBy.username}')
                        .form-group
                            label Created Date
                            input.form-control(type='text' readonly='' value='#{team.createdDate.toLocaleDateString()} #{team.createdDate.toLocaleTimeString()}')
                        .form-group
                            label Updated By
                            input.form-control(type='text' readonly='' value='#{team.updatedBy.username}')
                        .form-group
                            label Updated Date
                            input.form-control(type='text' readonly='' value='#{team.updatedDate.toLocaleDateString()} #{team.updatedDate.toLocaleTimeString()}')
                        .form-group 
                        if team.leader.filter(l => l._id == user._id).length > 0
                            input(type='file' class='form-control-file' name='image')
                        .form-group 
                            input(type='hidden' name='currentImage' value='#{team.image}')
                        if team.leader.filter(l => l._id == user._id).length > 0
                            input(class='btn btn-success' type='submit' value='Save')

                .col-md-6
                    if(errors)
                            ul.list-group
                                each err in errors
                                    li.list-group-item.text-danger= err
                    div.area
                        h1 Action Items
                        lable 
                        .row
                            .col
                                input#searchAction.form-control(type='text' placeholder='Search Action Item...')
                            .col
                                input#searchActionOwner.form-control(type='text' placeholder='Search Owner...')
                        lable Status Filter
                        .row
                            .col
                                
                                select.form-control#StatusOptions(name='selectedStatus')
                                    option(value='ALL') All
                                    option(value='OPEN') Open
                                    option(value='DONE') Done
                                    option(value='CANCELLED') Cancelled
                            .col
                                a.btn.btn-light#filterStatus(href='#') Filter
                        </br>
                        table.table.table-striped#actionItems
                            thead
                                tr
                                    th(scope='col') Action Item
                                    th(scope='col') Owner
                                    th(scole='col') Retro
                                    th(scole='col') Status
                                    th(scope='col') 
                            tbody#myTable
                                if team.actionitems.length < 1
                                    tr
                                        th
                                            p No action items found.
                                each i in team.actionitems
                                    tr
                                        td #{i.text}
                                        td #{i.owner.username}
                                        td #{i.retrospective.name}
                                        td
                                            input(type='hidden' name='actionStatus' value='#{i.status}') 
                                            if i.status == 'OPEN'
                                                span.material-icons(style='color: orange' title="Open") 
                                                 | flag
                                            if i.status == 'DONE'
                                                span.material-icons(style='color: green' title="Done") 
                                                 | done 
                                            if i.status == 'CANCELLED'
                                                span.material-icons(style='color: red' title="Cancelled") 
                                                 | close 
                                        td
                                            .btn-group(role='group')
                                                button.material-icons(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                                    | more_horiz
                                                .dropdown-menu(aria-labelledby='btnGroupDrop1')
                                                    if i.status == 'OPEN'
                                                        a.dropdown-item(href='/action/complete/#{i._id}') Complete
                                                        a.dropdown-item(href='/action/cancel/#{i._id}') Cancel
                                                        a.a.dropdown-item(href='/action/details/#{i._id}') Update
                                                    else
                                                        a.dropdown-item(href='/action/open/#{i._id}') Reopen
                        h1 Retrospectives
                        if team.leader.filter(l => l._id == user._id).length > 0                            
                            a.btn.btn-success(href='/retro/create/' + team._id) New
                        table.table
                            thead
                                tr
                                    th(scope='col') Title
                                    th(scope='col') Date
                                    th(scope='col') Status
                                    th(scope='col') Join
                            tbody
                                each i in team.retrospectives
                                    tr
                                        th #{i.name}
                                        td.date-util() #{i.createdDate.toLocaleDateString()} #{i.createdDate.toLocaleTimeString()}
                                        td
                                            if i.status == 'NEW' || i.status == 'INPROGRESS' || i.status == 'REVIEW'
                                                span.material-icons(style='color: red' title="In Progress") 
                                                 | settings_input_antenna
                                            else
                                                span.material-icons(style='color: green' title="Completed") 
                                                 | done                                              
                                        td
                                            if i.status === 'COMPLETED'
                                                a(href='/retro/complete/#{i.id}')
                                                    span.material-icons
                                                        | play_circle_outline
                                            else
                                                a(id='join' href='/retro/live/#{i.id}')
                                                    span.material-icons
                                                        | play_circle_outline
                .col-md-3
                    div#participants
                        h2 Members
                        div
                            each m in team.members
                                .user(id="#{m._id}")
                                    .dropdown
                                        img.avatar.teammember(src='#{m.image}')
                                        if team.leader.filter(l => l._id == user._id).length > 0
                                            .dropdown-content
                                                    a.dropdown-item(href=href='/user/details/#{m._id}') Profile
                                                    a.dropdown-item(href='/teams/leader/' + team._id + '/' + m._id) Toggle Leader
                                        else
                                            .dropdown-content
                                                    a.dropdown-item(href=href='/user/details/#{m._id}') Profile                  
                                    if team.leader.includes(m._id)
                                        .leader
                                            span.material-icons.leader-icon(style='align: center' title='Leader')
                                                | brightness_low
                                    .infosPlayer
                                        span.nick=m.username
                                        a.remove-member(href='#')
                                            span.material-icons(href='#' team-id = team._id member-id = m._id style="color:red")
                                                | delete
                    if team.leader.filter(l => l._id == user._id).length > 0                            
                            
                        div
                            form(name='addmember' method='post' action='/teams/add/member/#{team.id}')
                                .form-group
                                    label Add Team Member
                                    input.form-control#addMemberInput(type='text' placeholder='member@email.com' name='memberEmail')
                                input(class='btn btn-success' type='submit' value='Add')


