extends layout

block content

    div.area

        h1 Team </br>

        div.container.team-details
            .row
                .col-md-3
                    img(src='#{team.image}' alt='image' style='width:300px;height:200px;' class="rounded float-left")
                .col-md-6
                    form(name='update' method='post' action='/teams/edit/#{team.id}' encType = 'multipart/form-data')
                        .form-group
                            label Name
                            input.form-control(type='text' value='#{team.name}' name='name')
                        .form-group
                            label Description
                            textarea.form-control(maxlength='125' name='description') #{team.description}
                        .form-group
                            label Team Leader
                            input.form-control(type='text' readonly='' value='#{team.leader.username}')
                        .form-group
                            label Created By
                            input.form-control(type='text' readonly='' value='#{team.createdBy.username}')
                        .form-group
                            label Created Date
                            input.form-control(type='text' readonly='' value='#{team.createdDate}')
                        .form-group
                            label Updated By
                            input.form-control(type='text' readonly='' value='#{team.updatedBy.username}')
                        .form-group
                            label Updated Date
                            input.form-control(type='text' readonly='' value='#{team.updatedDate}')
                        .form-group 
                            input(type='file', class='form-control-file', name='image')
                        .form-group 
                            input(type='hidden' name='currentImage' value='#{team.image}')
                        input(class='btn btn-success' type='submit' value='Save')
                .col-md-3
                    div#participants
                    h2 Members
                    ul
                        each m in team.members
                            .user(id="#{m._id}")
                                .avatar.teammember(style='background-image: url(/images/icons8-usuario.png);')
                                .infosPlayer
                                    span.nick=m.username
                                    a.remove-member(href='#')
                                        span.material-icons(href='#' team-id = team._id member-id = m._id style="color:red")
                                           | delete
                    div.area
                        form(name='addmember' method='post' action='/teams/add/member/#{team.id}')
                            .form-group
                                label Add Team Member
                                input.form-control(type='text' placeholder='member@email.com' name='memberEmail')
                            input(class='btn btn-success' type='submit' value='Save')
            div.area
                h1 Retrospectives
                form(name='newRetro' method='post' action='/retro/create')
                    .form-group
                        label Start Retrospective
                        .col.md.6
                            select.form-control(name='selectedTemplate')
                                each t in templates.templates
                                    option(value='#{t.number}')=t.name
                        .col.md.6
                            input(type='hidden' name='teamID' value='#{team.id}')
                            input.form-control(type='text' placeholder='Retrospective' name='retrospective')
                    </br>
                    input(class='btn btn-success' type='submit' value='Create')
                    </br>
                table.table
                    thead
                        tr
                            th(scope='col') Name
                            th(scope='col') Date
                            th(scope='col') Join
                    tbody
                        each i in team.retrospectives
                            tr
                                th #{i.name}
                                th #{i.createdDate}
                                th
                                    a.btn.btn-info(id='join' href='/retro/live/#{i.id}')
                                        span.material-icons
                                            | play_circle_outline
                                //- th    
                                //-   a.btn.btn-danger.remove-member(href='#' team-id = team.id member-id = i._id)
                                //-     span.glyphicon.glyphicon-remove\