extends layout

block content
    div.area

    .container
        .py-5
            h1 Your Teams
            </br>
            a.btn.btn-success(href='/teams/create') Create New
    .album.py-5.bg-white
        .container
            .row
                if list.length < 1
                    p There is not team on your list. Create a new team or wait for your team administrator to add you to a team.
                else
                    each i in list
                        .col-xl-4.col-md-6.col-sm-10.col-12(style='padding-bottom: 15px')
                            .card.md-8.col-xm-10.shadow-sm
                                div.img.card-img-top(width='100%' height='225px' xmlns='http://www.w3.org/2000/svg' preserveaspectratio='xMidYMid slice' focusable='false' role='img' aria-label='Placeholder: Thumbnail')
                                    img.team-list-img(src='#{i.image}' alt='image' style='width:100%; height:225px' class="rounded")
                                    text.team-list-title(fill='#eceeef') #{i.name}
                                .team-list-description
                                    p.card-text.team-list-description-text(style='height: 72px;') #{i.description}
                                    .d-flex.justify-content-between.align-items-center
                                        .btn-group
                                            a.btn.btn-sm.btn-outline-secondary(type='button' href='/teams/details/#{i.id}') View
                                        small.text-muted #{i.members.length} Members